.page {
  margin: 0; padding:0; font-family: 'Ms Madi', cursive; font-size: 1.1rem; line-height: 1.6em; color: var(--text-color);

  h1 { font-size: 1.8em; }
  h2 { margin: 1.5em 0 0.5em; font-size: 1.5em; }
  h3 { margin: 1.2em 0 0.5em; font-size: 1.2em; }

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@page {
  margin: 0;
  size: A4;
}

/* General styles */
.pageContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  width: 190mm; /* A4 width */
  height: 277mm; /* A4 height */
  margin: 10mm auto;
  page-break-after: always; /* Forces a new page after each container */
}

.pageContainer:last-child {
  page-break-after: avoid;
}

.cardContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box; /* To include any border or padding in the element's total width and height */
  border: 1px dashed #aaa; /* Dashed border around the whole page */
  padding: 1cm;

  .sheetHeader {
    width:70%;
    margin-top:-0.3cm;
  }

  .bikeImage {
    position:absolute;
    bottom:0.5cm;
    right:0.5cm;
    width:1cm;
    height: auto;
  }

  .bikeImage2 {
    position:absolute;
    bottom:0.5cm;
    left:0.5cm;
    width:1cm;
    height: auto;
  }

  .cardText {
    margin-top: 0.2cm;
    line-height: 1.2em;
    font-size: 3rem;
    text-align: center;
  }

  .cardNotes {
    margin-top: 0.5cm;
  }
}

.cardContainer:nth-child(1), .cardContainer:nth-child(2), .cardContainer:nth-child(5), .cardContainer:nth-child(6) {
  transform: rotate(180deg);
}
